# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- main

pool: space-game-selfhosted-agent

steps:
- task: Bash@3
  inputs:
    targetType: 'filePath'
    filePath: mykhailokoliadko/mslearn-tailspin-spacegame-web/uploadNetSdk.sh
