# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- main

pool: space-game-selfhosted-agent

steps:
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'wget https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb -O packages-microsoft-prod.deb'
    script: 'sudo dpkg -i packages-microsoft-prod.deb'
    script: 'sudo apt-get update'
    script: 'sudo apt-get install -y apt-transport-https && sudo apt-get update && sudo apt-get install -y dotnet-sdk-5.0'
